{
	email caddy@gitjournal.io

	# Optional staging lets encrypt for testing. Comment out for production.
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	admin :2019
}

grafana.gitjournal.io {
	reverse_proxy grafana:3000
}

listmonk.gitjournal.io {
	reverse_proxy listmonk:9128
}

n8n.gitjournal.io {
	reverse_proxy n8n:5678
}

fdroid.gitjournal.io {
	root * /fdroid
	file_server
}

p.gitjournal.io {
	reverse_proxy plausible:8000
}

api.gitjournal.io {
	reverse_proxy kong:8000
}
